*{
  box-sizing: border-box;
}

body {
  background-color: black;
  padding: 0;
  margin: 0;
  counter-reset: card;
}

.card{
  counter-increment: card_number;

}
.card_number::before{
  font-size: 40px;
  content: counter(card_number)

}

.card{
  width: 100px;
  height: 150px;
  background-color: red;

}



.game{
  width: 1000px;
  height: 100%;
  position: relative;
}

.auto{
  background-color: black;
  animation: brrruum 8s infinite;
  display: inline-block;
  animation-timing-function: linear;
  cursor: pointer;
  margin-top: 10px;

}
.zero{
  display: none;
}



.licz{
  color: darkred;
  font-size: 70px;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 500px;
}

@keyframes brrruum{
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(1200px);
  }

}
